.offeredServices{
  .home-title{
    font-size: 50px;
    font-weight: 900;
  }

  .trusted{
    background-color: whitesmoke;
    p{
      font-size: medium;
    }
  }

  .trusted-title{
    font-size: 40px;
    font-weight: 900;
  }

}